@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  @apply bg-white text-gray-900;
}